<div>
    <div>
      <ul class="list">
        <li routerLinkActive="active"><a routerLink="/usuario" class="link">Usuarios</a></li>
        <li routerLinkActive="active"><a routerLink="/proveedor" class="link">Proveedor</a></li>
        <li routerLinkActive="active"><a routerLink="" class="link">Materia Prima</a></li>
        <li routerLinkActive="active"><a routerLink="" class="link">Inventario</a></li>
        <li routerLinkActive="active"><a routerLink="" class="link">Compra</a></li>
      </ul>
    </div>
</div>
  